<div id="calories">
<h3>Search Result for: <%= @searched %></h3>
<div class="bs-example">
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Brand Name</th>
			<th>Servings</th>
			<th>Calories</th>
		</tr>
	</thead>
	<tbody>
 	   <% @nutr['hits'].each do |item| %>
	   <tr>
			<th><%= item['fields']['item_name'] %></th>
			<th><%= item['fields']['brand_name'] %></th>
			<th><%= item['fields']['nf_serving_size_qty'] %></th>
			<th><%= item['fields']['nf_calories'] %> calories</th>
	    </tr>
		<% end %>
	</tbody>
</table>
</div>
</div>
