<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
	  <%=form_for(@user, :html => {:class => 'update'}) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name, :id => 'username'%>
      <%= f.label :email %>
      <%= f.text_field :email,:id => 'username' %>
      <%= f.label :password %>
      <%= f.password_field :password, :id => 'username' %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, :id => 'username' %>
	  <%=f.label :height %>
	  <%=f.number_field :height, :id => "username" %> 
	  <%=f.label :weight %>
	  <%=f.number_field :weight, :id => "username" %>
	  <%=f.label :goal %>
	  <%=f.number_field :goal, :id => "username" %>
      <%=f.submit "Update my information", class: "btn btn-success btn-sm" %>
    <% end %>
  </div>
</div>