<% provide(:title, @user.name) %>

<div class="col-xs-4 col-sm-4 col-md-4">
<%= image_tag "bodyimg.png", {height: 400}%>
</div>

<div class="col-xs-8 col-sm-8 col-md-8">
<h1>
  Welcome back, <%= @user.name %>.
</h1>
  Height: <%= @user.height %></br>
  Weight: <%= @user.weight %></br>
  <% if @user.weight < @user.goal %>
  	<%= @user.weight - @user.goal %> more to go!
  <% else %>
    You have reached your goal. Congratulations!
  <% end %>
  
  <% if @user.%>
</br>
  BMI: <%= Float(@user.weight / (@user.height)^2) %>
  <h6><a href="http://en.wikipedia.org/wiki/Body_mass_index">What is BMI?</a></h6>
</div>