<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
	  <%=@user.errors.full_messages%>
    </div>
  </div>
<% end %>