    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Diet Project</h1>
                        <h3>To help you stay fit</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
	<!-- Page Content -->

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-8">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What is this?</h2>
                    <p class="lead">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod facilisis 						rhoncus. Ut quis rhoncus felis, id facilisis augue. Fusce imperdiet, risus eu euismod facilisis, 						felis ante porttitor nunc, vel dapibus metus tellus id mauris. Curabitur ut porta urna. Proin aliquam 						metus ut massa fermentum, sed lobortis enim ullamcorper. Nunc lectus arcu, condimentum ac interdum non, 						dignissim in sem. Quisque condimentum massa venenatis nunc condimentum commodo. Nullam in 						vestibulum elit. Duis vel ipsum et tortor cursus maximus at in urna. Nam fringilla fermentum accumsan. 						Pellentesque mattis ultrices tempor. In mauris neque, placerat non ultrices quis, facilisis eu mi. 						Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi consequat, 						turpis in dignissim egestas, urna diam facilisis nisi, nec iaculis urna dolor in ex. Suspendisse id 						tellus venenatis, volutpat dolor sit amet, accumsan tortor.
					</p>
				</div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Useful information to keep you healthy</h2>
                    <p class="lead">We link you to some useful information for your diet such as youtube videos.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="assets/video.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Find a buddy to put more stress on you </h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <h2>Want to Explore more?</h2></br>
				<%= link_to "Join Us", new_user_path, :class => "btn btn-default btn-lg" %>
				<%= link_to "Contact Us", contacts_path, :class => "btn btn-primary btn-lg" %>
				</div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->