<div id="calories">
<% provide(:title, 'Info') %>
<div class="col-xs-18 col-sm-4 col-md-4">
	For your interest we provide several links!
	<h4>Videos</h4>
	<a href="http://www.youtube.com/watch?v=J9fuRV8VCCM">Video1</a></br>
	<a href="http://www.youtube.com/watch?v=-yp8dEXGUIw">Video2</a></br>
	<a href="http://www.youtube.com/watch?v=MG69sFM1UIw">Video3</a></br>
	<a href="http://www.youtube.com/watch?v=VX8DZEGp1Gs">Video4</a></br>
	<a href="http://www.youtube.com/watch?v=sNbgaujdVK0">Video5</a></br>
	</br>
	<h4>Blogs</h4>
	<a href="http://authenticallyemmie.com/">Authentically Emmie</a></br>
	<a href="http://ronisweigh.com/">Ronisweigh</a></br>
	<a href="https://www.itsuxtobefat.com/">Itsuxtobefat</a></br>
	<a href="http://brooklynfitchick.com/">brooklynfitchick</a></br>
</div>


<img src="/assets/food_recommend.jpg" width="500px">

</div>