<div id="calories">
	<div class="col-xs-8 col-sm-6 col-md-6" id="todays_tip">
		CheckList:</br>
	<label class="checkbox-inline">
		<input type="checkbox" id="inlineCheckbox1" value="option1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies magna a lacus lobortis, at egestas lacus venenatis.
	</label>
	<label class="checkbox-inline">
	  	<input type="checkbox" id="inlineCheckbox2" value="option2"> Etiam quis eros a elit interdum iaculis id non elit.
	</label>
	<label class="checkbox-inline">
	  	<input type="checkbox" id="inlineCheckbox3" value="option3"> Nam elementum lectus arcu, ut tincidunt ex interdum non.
	</label>
	<label class="checkbox-inline">
	  	<input type="checkbox" id="inlineCheckbox4" value="option3"> Etiam condimentum tellus neque, a commodo massa mollis ac. Donec a magna ex. Nullam ac feugiat metus, non consectetur massa.
	</label>
	Add statements
	</div>
	
</div>