// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
  	color: #555;
	:hover {
		color: #222;
	}
  }
  small {
	  float: left;
  }
  ul {
	  float: right;
	  list-style: none;
	  li {
		  float: right;
		  list-style: none;
	  }
  }
}
#calories {
	margin: 5%;
}
.container {
	min-height: 100%;
}

.loginform {
	margin-top: 5em;
}

#todays_tip {
    background: url(/assets/todays_tip.jpg) no-repeat center center;
    background-size: cover;
	color: black;
}