    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a img class="" src="assets/ipad.png" alt="">
                <a class="navbar-brand" href="/">
					<img style="max-width:150px; margin-top: -1em;" src="/assets/logo.png">
				</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
					<% if logged_in? %>
							<li><%= link_to "Missions", missions_path %></li>
							<li><%= link_to "Info", info_path %></li>
							<li><%= link_to "Search", calories_path %></li>
							<li class="dropdown">
								<%= link_to "Profile", current_user, :class => "dropdown-toggle", :data => {:toggle=>"dropdown"} %>
								<ul class="dropdown-menu" role="menu">
									<li><%= link_to "Update", edit_user_path(current_user)%></li>
							        <li><%= link_to "My Page", user_path(current_user) %></li>
							        <li class="divider"></li>
							        <li><%= link_to "Log out", logout_path, method: "delete" %></li>			         
									</ul>
								</li>
					<% else %>
                    	<li><%= link_to "About", about_path %></li>
                    	<li><%= link_to "Contacts", contacts_path%></li>
						<li><%= button_to "Login", login_path, method: "get", :class => "btn btn-default navbar-btn" %></li>
					<% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    