<!DOCTYPE html>
<html>
<head>
  <title>Diet project</title>
  <script src="/assets/jquery.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="/assets/landing-page.css"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/messages' %>
	<%= render 'layouts/header' %>
	<div class="container">
	    <%= yield %>
	</div>
	  <%= render 'layouts/footer' %>
  </body>
</html>